@font-face {
    font-family: 'Norse-Bold';
    src: url('fonts/Norse-Bold.otf');
}

body {
    font-family: 'Norse-Bold', 'Times New Roman', Times, serif;
}

#container {
    display: flex;
}

#left {
    flex: 1;
}

#right {
    flex: 2;
}

#banner {
    max-width: 100%; 
    height: auto;
    display: block;
    margin-bottom: 20px;
}

#logo {
    text-align: center;
}

#logo-image {
    max-width: 100%; 
    height: auto;
}

